mixin button(props = {})

  - let {type='', variant='', tag='button', size='', iconId='', border=''} = props

  - let classList= 'button'

  - if (type != '')
    - classList+= ` button_${type}`

  - if (variant != '')
    - classList+= ` button_${variant}`

  - if (size != '')
    - classList+= ` button_${size}`

  - if (border != '')
    - classList+= ` button_border_${border}`


  case type
    when "icon"
      #{tag}(class= classList)&attributes(attributes)
        svg.button__icon
          use(xlink:href= `#${iconId}`)

    when "icon_left"
      #{tag}(class= classList)&attributes(attributes)
        svg.button__icon
          use(xlink:href= `#${iconId}`)
        span.button__text
          block

    default
      #{tag}(class= classList)&attributes(attributes)
        span.button__text
          block
