mixin items-swiper(props = {})
  include swiper-button
  include price
  - const {heading = '', name = '', classes = ''} = props;

  div(class= `items-swiper ${classes}`)
    .items-swiper__header
      span.items-swiper__heading
        span= heading
      .items-swiper__buttons
        +swiper-button({side: 'left', classes: 'swiper-button_stroke'})
        +swiper-button({side: 'right', classes: 'swiper-button_stroke'})

    .items-swiper__content
      .swiper-wrapper
        a(href="#").items-swiper__item
          .items-swiper__image-wrapper
            img(src="assets/img/product-image.jpg", data-object-fit="contain" alt="Изображение").items-swiper__image
          .items-swiper__name= name
          .items-swiper__price
            +price
        a(href="#").items-swiper__item
          .items-swiper__image-wrapper
            img(src="assets/img/product-image.jpg", data-object-fit="contain" alt="Изображение").items-swiper__image
          .items-swiper__name= name
          .items-swiper__price
            +price
        a(href="#").items-swiper__item
          .items-swiper__image-wrapper
            img(src="assets/img/product-image.jpg", data-object-fit="contain" alt="Изображение").items-swiper__image
          .items-swiper__name= name
          .items-swiper__price
            +price
        a(href="#").items-swiper__item
          .items-swiper__image-wrapper
            img(src="assets/img/product-image.jpg", data-object-fit="contain" alt="Изображение").items-swiper__image
          .items-swiper__name= name
          .items-swiper__price
            +price
        a(href="#").items-swiper__item
          .items-swiper__image-wrapper
            img(src="assets/img/product-image.jpg", data-object-fit="contain" alt="Изображение").items-swiper__image
          .items-swiper__name= name
          .items-swiper__price
            +price
        a(href="#").items-swiper__item
          .items-swiper__image-wrapper
            img(src="assets/img/product-image.jpg", data-object-fit="contain" alt="Изображение").items-swiper__image
          .items-swiper__name= name
          .items-swiper__price
            +price
        a(href="#").items-swiper__item
          .items-swiper__image-wrapper
            img(src="assets/img/product-image.jpg", data-object-fit="contain" alt="Изображение").items-swiper__image
          .items-swiper__name= name
          .items-swiper__price
            +price
        a(href="#").items-swiper__item
          .items-swiper__image-wrapper
            img(src="assets/img/product-image.jpg", data-object-fit="contain" alt="Изображение").items-swiper__image
          .items-swiper__name= name
          .items-swiper__price
            +price
        a(href="#").items-swiper__item
          .items-swiper__image-wrapper
            img(src="assets/img/product-image.jpg", data-object-fit="contain" alt="Изображение").items-swiper__image
          .items-swiper__name= name
          .items-swiper__price
            +price
        a(href="#").items-swiper__item
          .items-swiper__image-wrapper
            img(src="assets/img/product-image.jpg", data-object-fit="contain" alt="Изображение").items-swiper__image
          .items-swiper__name= name
          .items-swiper__price
            +price
        a(href="#").items-swiper__item
          .items-swiper__image-wrapper
            img(src="assets/img/product-image.jpg", data-object-fit="contain" alt="Изображение").items-swiper__image
          .items-swiper__name= name
          .items-swiper__price
            +price
        a(href="#").items-swiper__item
          .items-swiper__image-wrapper
            img(src="assets/img/product-image.jpg", data-object-fit="contain" alt="Изображение").items-swiper__image
          .items-swiper__name= name
          .items-swiper__price
            +price
